<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>PROTOTYPE - Bootstrap</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/unveil-effects/animations.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">

</head>

<body>
    <!--  ********** CTA SECTION ********** -->
    <div id="cta">
            <div class="container">
                <div class="col-md-6">
                    <img src="{{asset('image/logo1.png')}}">
                </div>
                <!--<div class="col-md-6" style="margin-top: 15px;">
                    <button type="button" class="btn btn-primary" style="float: right; margin-left: 10px;">Inscription</button>
                    <button type="button" class="btn btn-primary" style="float: right;">Connexion</button>
                </div>-->
            </div>
      <!--/row -->
    </div>
  <!--/CTA -->

  <!--  ********** HEADER SECTION ********** -->
  <div id="h">
    <div class="container">
      <div class="row centered" style="margin-top: -80px;">
        <h1><img src="{{asset('image/test.png')}}"></h1>
      </div>
      <!--/row -->
    </div>
    <!-- /container -->
  </div>
    {% block body %}
    {% endblock %}


    <div id="copyrights">
    <div class="container">
      <p>
        &copy; Copyrights Prototype. All Rights Reserved
      </p>
      <div class="credits">
        <!--
          You are NOT allowed to delete the credit link to TemplateMag with free version.
          You can delete the credit link only if you bought the pro version.
          Buy the pro version with working PHP/AJAX contact form: https://templatemag.com/minimallanding-bootstrap-landing-template/
          Licensing information: https://templatemag.com/license/
        -->
        Created By Proto
      </div>
    </div>
  </div>
  <!-- / copyrights -->

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="lib/php-mail-form/validate.js"></script>
  <script src="lib/unveil-effects/unveil-effects.js"></script>

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>

</body>
</html>
